In [46]:
import numpy as np
import pandas as pd

In [47]:
data = pd.read_csv('ex1data2.txt',sep=',',header=None)
x = data.iloc[:,0:2]
y = data.iloc[:,2]
m = len(y)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [48]:
x = (x-np.mean(x))/np.std(x)

In [49]:
alpha = 0.01
num_iter = 1500
theta = np.zeros((3,1))

ones = np.ones((m,1))
x = np.hstack((ones,x))
y = y[:,np.newaxis]

In [50]:
def computeCost(x,y,theta):
    temp = np.dot(x,theta)-y
    return np.sum(np.power(temp,2))/(2*m)

J = computeCost(x,y,theta)
print(J)

65591548106.45744

In [51]:
def gradientDescent(x,y,theta,alpha,num_iter):
    for _ in range(num_iter):
        temp = np.dot(x,theta)-y
        temp = np.dot(x.T,temp)
        theta = theta - (alpha/m)*temp
    return theta

theta = gradientDescent(x,y,theta,alpha,num_iter)
print(theta)

[[340412.56301439]
 [109370.05670466]
 [ -6500.61509507]]

In [52]:
J = computeCost(x,y,theta)
print(J)

2043282709.9327548